
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body
{
    width: 100%;
}

h1{
    font-size: 50px;
}

h2{
    font-size:40px
}

.text-highlight{
    color: orange;
}

section{
    padding: 10%;
    position: relative;
}

section:nth-child(1){
    padding-top:5% ;position: relative;
}

section:nth-child(odd){
    background: #f0f0f0;
}

.mobile{
    display: none;
}

.nav-container-desktop{
    /* background-color: #fafafa; */
    text-align: right;
    position: fixed;
    width: 80%;
    top: 2%;
    z-index: 1000;
}

.nav-container-desktop ul{
    list-style-type: none;
    right: 0;
}

.nav-container-desktop ul li {
    display: inline-block;
    margin: 10px 20px;font-size: 22px;

}

.nav-container-desktop ul li a{
    color: orange;
    text-decoration: none;
}

.two-col{
    display: flex;
    /* border: 10px solid rgb(1, 26, 253); */
}

.col-one{
    width: 50%;
    /* padding-left: 20px; */
}

.col-one img{
    width: 100%;
}

.img1-mobile {
    display: none;
}

.semi-title{
    color: orange;
    text-transform: capitalize;
    margin: 10px 0;
}

.description{
    margin-top: 25px;
    color: gray;
    line-height:28px;
    letter-spacing: 1.5px;
    font-size: 16px;
    text-align: justify;
}

.link_btn{
    color: #fff;
    background-image: linear-gradient(45deg, rgb(194, 145, 140), tomato);
    text-decoration: none;
    padding: 10px 18px;
    font-weight: 700;
    /* font-size: 18px; */
    display: inline-block;
    text-transform: uppercase;
    border-radius:6px;
    margin-top: 20px;
    transition: background-attachment 1s;
}

.link_btn:hover{
    background-image: linear-gradient(45deg, tomato, rgb(34, 26, 25));
}

.section_title{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.section_title::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 8px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: orange;
}

.box{
    border-radius: 5px;
    box-shadow: 10px 10px 20px gray;
    margin-right: 20px;
    padding: 20px;
    background-color:#f5f5f5;
   
}

.box1{
    border-left: 5px solid tomato;
}

.box2{
    border-left: 5px solid rgb(139, 71, 59);
}

footer{
    text-align: center;
    padding: 30px;
    background: #f0f0f0;
}
    
@media screen and (max-width:1024px) {

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    .nav-container-desktop{
        display: none;
    }

    .mobile{
        display: block;
        position: fixed;
        background: rgba(161, 124, 55, 0.945);
        width: 100%;
        height: 100vh;
        top: -100%;
        left: 0px;
z-index: 99;
transition: top 0.6s
    }

    .nav-container-mobile{
        /* position: absolute; */
        /* background: rgba(161, 124, 55, 0.76); */
        
    }

    .nav-container-mobile ul{
        list-style-type: none;
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .nav-container-mobile ul li{
        margin: 20px;
        font-size: 22px;
    }

    .nav-container-mobile ul li a{
        color: rgb(230, 223, 223);
        text-decoration: none;
    }

    .menu_icon{
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 30px;
        color: orange;
    }

    .close-menu{
        position: absolute;
        right: 20px;
        top: 20px;
    font-size: 40px;
color: #fff;    }

    .two-col{
        flex-direction: column;
        /* border: 10px solid red; */
    }

    .col-one{
        flex: 1;
        width: 100%;
    }

    .box{
        margin: 20px 0
    }

    .description{
        font-size: 15px;
    }

    .img1-desktop{
        display: none;
    }
    .img1-mobile {
        display: block;
    }
    .link_container
    {
        text-align: center;
        
    }

    .img2{
        width: 150%;
    }
}


@media screen and (max-width: 400px){

    section {
        padding: 10% 2%;
    }

    h1{
        font-size: 34px;
    }

    h2{
        font-size: 26px;
    }
    h3{
        font-size: 20px
    }
    .description{
        font-size: 14px;
    }


    
  
} 